apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "k8spacket.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "k8spacket.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "k8spacket.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end}}
      labels:
        {{- include "k8spacket.selectorLabels" . | nindent 8 }}
        name: {{ include "k8spacket.name" . }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8spacket.serviceAccountName" . }}
      hostNetwork: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.k8sPacket.tcp.listener.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.k8sPacket.tcp.listener.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          {{- if .Values.containerPorts }}
          ports:
            {{- toYaml .Values.containerPorts | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          - name: K8S_PACKET_API_FIELD_SELECTOR
            value: {{ .Values.k8sPacket.api.fieldSelector }}
          - name: K8S_PACKET_API_LABEL_SELECTOR
            value: {{ .Values.k8sPacket.api.labelSelector }}
          - name: K8S_PACKET_LOADER_SOURCE
            value: {{ .Values.k8sPacket.loader.source }}
          - name: K8S_PACKET_REVERSE_GEOIP2_DB_PATH
            value: {{ .Values.k8sPacket.reverseLookup.geoipDBPath }}
          - name: K8S_PACKET_REVERSE_WHOIS_REGEXP
            value: {{ .Values.k8sPacket.reverseLookup.whoisRegexp }}
          - name: K8S_PACKET_TCP_LISTENER_PORT
            value: {{ .Values.k8sPacket.tcp.listener.port | quote }}
          - name: K8S_PACKET_TCP_LISTENER_INTERFACES_COMMAND
            value: {{ .Values.k8sPacket.tcp.listener.interfaces.command }}
          - name: K8S_PACKET_TCP_LISTENER_INTERFACES_REFRESH_PERIOD
            value: {{ .Values.k8sPacket.tcp.listener.interfaces.refreshPeriod }}
          - name: K8S_PACKET_TCP_PERSISTENT_DURATION
            value: {{ .Values.k8sPacket.tcp.connection.persistentDuration }}
          - name: K8S_PACKET_TCP_METRICS_ENABLED
            value: {{ .Values.k8sPacket.tcp.metrics.enabled | quote }}
          - name: K8S_PACKET_TCP_METRICS_HIDE_SRC_PORT
            value: {{ .Values.k8sPacket.tcp.metrics.hideSourcePort | quote }}
          - name: K8S_PACKET_TLS_CERTIFICATE_CACHE_TTL
            value: {{ .Values.k8sPacket.tls.certificate.cache.ttl }}
          - name: K8S_PACKET_TLS_METRICS_ENABLED
            value: {{ .Values.k8sPacket.tls.metrics.enabled | quote }}
          - name: LOG_LEVEL
            value: {{ .Values.k8sPacket.logger.level | quote }}
          volumeMounts:
            - mountPath: /sys/kernel/tracing
              name: tracing
      volumes:
        - name: tracing
          hostPath:
            path: {{ .Values.k8sPacket.volumes.tracingPath }}