apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "k8spacket.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "k8spacket.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "k8spacket.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end}}
      labels:
        {{- include "k8spacket.selectorLabels" . | nindent 8 }}
        name: {{ include "k8spacket.name" . }}
    spec:
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8spacket.serviceAccountName" . }}
      hostNetwork: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      initContainers:
        - name: init-k8spacket
          image: {{ .Values.initContainer.image }}
          imagePullPolicy: {{ .Values.initContainer.pullPolicy }}
          command: [ 'sh', '-c', "cd ./plugins && eval echo $(echo $K8S_PACKET_AVAILABLE_PLUGINS) | tr ',' '\n' | xargs wget 2>> /dev/termination-log" ]
          env:
          - name: K8S_PACKET_AVAILABLE_PLUGINS
            value: '{{ join "," .Values.k8sPacket.plugins }}'
          volumeMounts:
            - mountPath: /plugins
              name: plugins
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.k8sPacket.tcp.listener.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.k8sPacket.tcp.listener.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          - name: K8S_PACKET_NAME_LABEL_VALUE
            value: {{ include "k8spacket.name" . }}
          - name: K8S_PACKET_REVERSE_GEOIP2_DB_PATH
            value: {{ .Values.k8sPacket.reverseLookup.geoipDBPath }}
          - name: K8S_PACKET_REVERSE_WHOIS_REGEXP
            value: {{ .Values.k8sPacket.reverseLookup.whoisRegexp }}
          - name: K8S_PACKET_TCP_LISTENER_PORT
            value: {{ .Values.k8sPacket.tcp.listener.port | quote }}
          - name: K8S_PACKET_TCP_LISTENER_INTERFACES_COMMAND
            value: {{ .Values.k8sPacket.tcp.listener.interfaces.command }}
          - name: K8S_PACKET_TCP_LISTENER_INTERFACES_REFRESH_PERIOD
            value: {{ .Values.k8sPacket.tcp.listener.interfaces.refreshPeriod }}
          - name: K8S_PACKET_TCP_PERSISTENT_DURATION
            value: {{ .Values.k8sPacket.tcp.connection.persistentDuration }}
          - name: K8S_PACKET_TCP_METRICS_ENABLED
            value: {{ .Values.k8sPacket.tcp.metrics.enabled | quote }}
          - name: K8S_PACKET_TCP_METRICS_HIDE_SRC_PORT
            value: {{ .Values.k8sPacket.tcp.metrics.hideSourcePort | quote }}
          - name: K8S_PACKET_TLS_CERTIFICATE_CACHE_TTL
            value: {{ .Values.k8sPacket.tls.certificate.cache.ttl }}
          - name: K8S_PACKET_TLS_METRICS_ENABLED
            value: {{ .Values.k8sPacket.tls.metrics.enabled | quote }}
          volumeMounts:
            - mountPath: /home/k8spacket/plugins
              name: plugins
            - mountPath: /sys/kernel/tracing
              name: tracing
      volumes:
        - name: plugins
          emptyDir: {}
        - name: tracing
          hostPath:
            path: {{ .Values.k8sPacket.volumes.tracingPath }}